<main class="container" style="margin-top: 20px">
  <div class="form-group col-md-6 offset-md-3">
    <h1>Calculador de Gastos</h1>
    <input-valor (calcular)="calcular($event)"></input-valor>
  </div>

  <div class="dashboard mx-auto">
    <div class="row">
      <card-valor class="col-md-3 offset-md-3" [valor]="valorGasto" [titulo]="'a ser gasto'" [backgroundColor]="'#3384F3'" *ngIf="valorGasto"></card-valor>
      <card-valor class="col-md-3 " [valor]="valorInvestimento" [titulo]="'a ser investido'" [backgroundColor]="'#47C796'" *ngIf="valorInvestimento"></card-valor>
    </div>
    <div class="row">
      <card-valor class="col-md-3 offset-md-2" [valor]="valorDespesasFixas" [titulo]="'despesas básicas'" [backgroundColor]="'#FFA850'" *ngIf="valorDespesasFixas"></card-valor>
      <card-valor class="col-md-3" [valor]="valorDespesaEducacao" [titulo]="'educação'" [backgroundColor]="'#5F789B'" *ngIf="valorDespesaEducacao"></card-valor>
      <card-valor class="col-md-3" [valor]="valorDespesaAleatoria" [titulo]="'gasto livre'" *ngIf="valorDespesaAleatoria"></card-valor>
    </div>
  </div>
</main>